<template name="quickForm_ratchet-fieldset">
  {{#autoForm this.qfAutoFormContext}}
    <fieldset class="input-group">
      {{#with ../atts.legend}}
      <legend>{{this}}</legend>
      {{/with}}
      {{> afQuickFields}}
    </fieldset>
    {{#if qfShouldRenderButton}}
    <div>
      <button type="submit" {{submitButtonAtts}}>
        {{#with ../atts.buttonContent}}
        {{this}}
        {{else}}
        Submit
        {{/with}}
      </button>
    </div>
    {{/if}}
  {{/autoForm}}
</template>